.palette {
  display: flex;
  justify-content: center;
}

.color {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  &.active,
  &:active {
    opacity: 1;
  }
  &+.color {
    margin-left: 1rem;
  }
}